/* public 폴더 */
.bg {
  background-image: url("/sample.jpg");
  width: 400px;
  height: 400px;
}

/* src/assets */
.bg-1 {
  background-image: url("../assets/images/sample.jpg");
  width: 400px;
  height: 400px;
}
